.button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: 1px;

  &__img {
    width: 87px;
    padding-left: 22px;
    background: url('./cart.svg') 10px center no-repeat;
  }
}

.gray {
  background-color: var(--gray-5);

  &:hover {
    background-color: var(--gray-3);
  }
}

.orange {
  background-color: var(--orange);

  &:hover {
    opacity: 0.5;
  }
}
