@keyframes appear {
  0% {
    transform: translate(-50%, -2000px);
  }

  30% {
    transform: translate(-50%, -280px);
  }

  60% {
    transform: translate(-50%, -40px);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

.modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(#9B9A9A, 0.5);
}

.open {
  overflow: hidden;
  padding-right: 17px;
}

.close {
  position: absolute;
  top: 22px;
  right: 23px;;
  width: 12px;
  height: 12px;

  background: url('../basket-article/close.svg');
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 740px;
  height: 230px;
  padding: 30px 50px 32px 50px;
  border-radius: 2px;

  animation: appear 0.5s;

  background-color: var(--white);

  &__second {
    height: 185px;
    padding-bottom: 54px;
  }
}

.title {
  margin: 0 0 39px 0;

  font-size: 18px;
  line-height: 15px;
  letter-spacing: 0.7px;
  color: var(--gray-3);
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.img {
  margin-right: 40px;
}

.info {
  padding-top: 14px;

  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.05em;
}

.name {
  margin: 0 0 14px 0;

  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.number {
  margin: 0 0 6px 0;
}

.description {
  margin: 0 0 20px 0;
}

.price {
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 0.05em;
}

.button {
  margin-left: auto;
  width: 220px;
  min-height: 46px;
  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.05em;

  &__left {
    margin-right: 37px;
  }
}

.controls {
  display: flex;
  width: max-content;
  margin: 0 auto;
}
