.article {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 16px 14px 18px 14px;

  border: 1px solid var(--gray);
}

.image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  height: 190px;
  width: 100%;
}

.image {
  display: block;
  width: auto;
}

.description {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.rating {
  order: -1;
  margin-bottom: 6px;
}

.stars {
  display: flex;
  justify-content: space-between;
  width: 68px;
}

.info,
.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info {
  flex-grow: 1;
  margin-bottom: 4px;
}

.title,
.price {
  margin: 0;

  font-size: 14px;
  font-weight: normal;
  line-height: 15px;
  letter-spacing: 0.05em;
}

.link,
.button {
  width: 89px;
  min-height: 23px;
  padding: 4px 5px 4px 5px;

  font-size: 12px;
  line-height: 15px;
  color: var(--white);
  background-color: var(--gray-5);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: 1px;
}

.button {
  width: 87px;
  padding-left: 22px;
  background: url('../button/cart.svg') 10px center no-repeat var(--orange);
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.count {
  margin: 0;

  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--gray-4);
}

.test {
  border: red;
}
