.input {
  width: 100%;
  padding: 4px 10px 5px;

  font-size: 15px;
  line-height: 10px;
  text-align: center;
  border: 0.7px solid var(--gray-4);
  border-radius: 2px;

  &:hover {
    opacity: var(--default-hover-opacity);
  }

  &:active {
    opacity: var(--default-active-opacity);
  }
}
