.order {
  display: flex;
  justify-content: space-between;
  padding: 38px 0 173px 0;
}

.title {
  margin:0 0 9px 0;

  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 1px;
}

.description {
  margin: 0 0 20px 0;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
}

.form {
  position: relative;
  display: flex;
}

.input {
  width: 170px;
  height: 36px;
  margin-right: 33px;
  padding: 10px 24px;

  font-size: 16px;
  line-height: 15px;
  border: 1px solid gray;
}

.button {
  min-width: 200px;
  min-height: 36px;
  padding: 10px 20px;

  font-weight: bold;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 1px;

  &__orange {
    min-width: 220px;
  }
}

.price {
  margin: 0 0 44px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 1px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.error {
  position: absolute;
  bottom: -22px;
  left: 0;

  color: var(--red);
  font-size: 12px;
}
