.pagination {
  display: flex;
  flex-direction: row-reverse;
}

.wrapper {
  display: flex;
}

.list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 14px;

  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.05em;

  &:last-child {
    margin-right: 97px;
  }
}

.item {
  margin-right: 10px;

  &:nth-child(4) {
    margin-right: 14px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.link {
  display: block;
  min-width: 24px;
  height: 24px;
  padding: 2px 8px 2px 9px;
  background-color: transparent;
  cursor: pointer;

  border: 0.7px solid var(--gray-4);
  border-radius: 2px;

  &:hover {
    opacity: var(--default-hover-opacity);
  }

  &:active {
    opacity: var(--default-active-opacity);
  }
}

.active {
  color: var(--white);
  background-color: var(--gray-8);

  &:hover{
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}

.button {
 min-width: 80px;
  min-height: 24px;
  padding: 2px 20px 2px 22px;

  border: 0.7px solid var(--gray-4);
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: var(--gray-8);
    color: var(--white);
  }

  &:active {
    opacity: var(--default-active-opacity);
  }

  &__back {
    margin-right: 14px;
  }
}
